.App {
  text-align: left;
  font-family: Calibri, sans-serif;
  box-sizing: border-box;
}

.App-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 18vw;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: darkgrey;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.sidebar-left {
  left: 0;
}

.sidebar-right {
  right: 0;
}

.alternate {
  padding: 1px;
  margin: 1px;
  background-color: darkslategray;
}

.top-bar {
  height: 4vh;
  background-color: darkslategray;
  width: 60vw;
  min-width: 320px;
  padding: 1vh 5vh;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.toggle {
  border: 1px solid blue;
}

.editor {
  letter-spacing: -0.5px;
  background-color: #282c34;
  width: 60vw;
  min-width: 320px;
  height: auto;
  min-height: 72vh;
  padding: 2vh 5vh 20vh;
}

pre {
  white-space: pre-wrap;
}

.editor:focus {
  outline: none;
}

.adjective {
  background-color: 'red';
  border: 1px solid blue;
}

.download {
  position: fixed;
  right: 20px;
  bottom: 10px;
  height: 30px;
  width: 60px;
  border: 1px solid blue;
}
